html, body {
	height:100%;
	margin:0;
	padding:0;
	background-color:#4d5e7a;
}

#map {
	height:70%;
}

.container
{
	color:white;
	padding-top:15px;
}

th
{
	height:115px;
}

img
{
	width:100px;
	height:100px;
}

a,a:hover
{
	color:white;
}





